.p1{
    background-color: red;
    font-size: 30px;
}

.p2{
    background-color: cyan;
    font-size: 30px;
}

.box{
    margin: 10px;
    padding: 10px;
    height: 80px;
    width: 90px;
    display: flex;
    margin-bottom: 15px;
    border: 20px solid purple;
}